.leaflet-container {
    background: #fff;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.leaflet-tooltip {
    border: 0;
    padding: 0;
    border-radius: 0.375rem;
}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    border: none;
}
details summary > * {
    display: inline;
    cursor: pointer;
}
ul {
    list-style-position: inside;
}

.leaflet-arcPathsPane-pane {
    z-index: 800;
}

.portal-container {
    margin-bottom: 0;
    left: -25px !important;
}

.portal-container .leaflet-popup-content-wrapper {
    background: none;
    color: none;
    box-shadow: none;
}

.portal-container .leaflet-popup-content {
    width: fit-content !important;
    margin: 0;
}

.portal-container > .leaflet-popup-tip-container {
    display: none;
}
